<%= div_for comment do %>
<h3>
<%= comment.user.name %> &lt;<%= comment.user.email %>&gt; said:
<%# if @article.owned_by? current_user %>
<% if comment.owned_by? current_user %>
<%# check like devise. is it that type check? %>
<span class='actions'>
<%#= link_to 'Delete', [@article, comment], :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Delete', [@commentable, comment], confirm: 'Are you sure?', method: :delete %>
</span>
<% end %>
</h3>
<%= simple_format comment.body %>
<% end %>