<%= div_for booking do %>
  <section>
    <header>
      <%= booking.tour.name if booking.tour %>
      <%= booking.hotel.title if booking.hotel %>
    </header>
    <article>
      <%= render 'hotels/hotel' if booking.hotel %>
      <%= render 'tours/tour' if booking.tour %>
    </article>
  </section>
<% end %>


