<%= simple_form_for(@tour, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :input_html => { :size=>"20", :placeholder => "enter title"}   %>
    <%= f.input :description, :input_html => { :size=>"30", :placeholder => "enter title"}  %>
    <%= f.input :departure_date %>
    <%= f.input :return_date %>
    <%= f.input :from_city, :input_html => { :size=>"20", :placeholder => "enter title"}  %>
    <%= f.input :to_city, :input_html => { :size=>"20", :placeholder => "enter title"}  %>
    <%= f.input :price, :input_html => { :size=>"20", :placeholder => "enter title"}  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
