<%= div_for tour do %>
  <div class='side'>
    <div class='admin-actions'>
      <ul>
        <li><%= link_to 'Edit', edit_tour_path(tour) %></li>
        <li><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
  <div class='tour-main'>
    <h2><%= link_to tour.name, tour_path(tour) %></h2>
    <div class='route-info'>
      <ul>
        <li>from <%= tour.departure_date %> and <%= tour.from_city %></li>
        <li>to <%= tour.return_date %> and <%= tour.to_city %></li>
      </ul>
    </div>
    <div class='book-link'><%= link_to 'book now', tour_booking_path(tour) %></div>
  </div>
  <div class='route-info'>
    <p><%= tour.description %></p>
    days in travel from and to method
    <div><%= tour.price %></div><div class='time-lenght'>over ten days</div>
  </div>
<% end %>