<%= div_for tour do %>
  <div class='tour-side'>
    <div class=''>
      <div class='tour-lenght'>over ten days</div>
      <div class="tour-price"><%= tour.price %></div>
    </div>
    <div class='admin-actions'>
      <ul>
        <li><%= link_to 'Edit', edit_tour_path(tour) %></li>
        <li><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
  <div class='tour-main'>
    <h2><%= link_to tour.name, tour_path(tour) %></h2>
    <div class='tour-route-info'>
      <ul>
        <li>from <%= tour.departure_date %> and <%= tour.from_city %></li>
        <li>to <%= tour.return_date %> and <%= tour.to_city %></li>
      </ul>
    </div>
    <div class='book-tour-ref'><%= link_to 'book now', new_tour_booking_path(tour) %></div>
  </div>
  <div class='route-desc'>
    <p><%= tour.description %></p>
    <p>days in travel from and to method</p>
  </div>
<% end %>