<div id="single-tour">
  <section>
    <header>
      <h3><%= @tour.name %></h3>
    </header>
    <article>
      <ul>
        <li><p><%= @tour.from_city %><%= @tour.to_city %></p></li>
        <li><p><%= @tour.departure_date %><%= @tour.return_date %></p></li>
      </ul>
      <div id="tour-description">
        <p>Description <%= simple_format @tour.description %></p>
      </div>
      <p>
        <b>Price:</b>
        <%= @tour.price %>
      </p>
      <div class="clearfix"></div>
    </article>
    <% if current_user %>
      <span class='actions'>
        <% if can? :update, @tour %>
          <%= link_to 'edit', edit_tour_path(@tour) %>
        <% end %>
        |
        <% if can? :destroy, @tour %>
          <%= link_to 'delete', @tour, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      </span>
    <% end %>
  </section>
</div>
<%= link_to 'Back', tours_path %>