<div id="single-tour">
  <section>
    <header>
      <h3><%= @tour.name %></h3>
    </header>
    <article>
      <ul>
        <li><p><%= @tour.from_city %><%= @tour.to_city %></p></li>
        <li><p><%= @tour.departure_date %><%= @tour.return_date %></p></li>
      </ul>
      <div id="tour-description">
        <p>Description <%= simple_format @tour.description %></p>
      </div>
      <p>
        <b>Price:</b>
        <%= @tour.price %>
      </p>
      <div class="clearfix"></div>
    </article>
    <% if current_user.is_a User %>
      <span class='actions'>
      <%= link_to 'Edit', edit_tour_path(@tour) %> |
      <%= link_to 'Delete', @tour, :confirm => 'Are you sure?',
                                    :method => :delete %>
      </span>
    <% end %>
  </section>
</div>
<%= link_to 'Back', tours_path %>
<h3>Comments</h3>
<div id="comments">
<%= render @tour.comments %>
</div>
<%= render :file => 'comments/new' %>