<%= div_for hotel, class: 'row' do %>
  <div class='ten columns centered'>
    <div class='row'>
      <div class='hotel-side three columns'>
        <div class='hotel-rating'>
          <%= hotel.rating %>
        </div>
        <%= if current_user %>
        <div class='admin-actions'>
          <ul>
            <% if can? :update, hotel %>
            <li><%= link_to 'Edit', edit_hotel_path(hotel) %></li>
            <% end %>
            <% if can? :delete, hotel %>
            <li><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class='book-hotel-ref' style='border: 1px solid red;'>
          <%= link_to 'book now', new_hotel_booking_path(hotel) %>
        </div>
      </div>
      <div class='hotel-main nine columns'>
        <h4>
          <%= link_to hotel.title, hotel_path(hotel) %>
        </h4>
        <div class='hotel-city'>
          at <%= hotel.city %>
        </div>
        <div class='hotel-description write-up'>
          <p>
            <%= hotel.description %>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>
