<%= div_for hotel do %>
  <h3>
    <%= link_to hotel.title, hotel_path(hotel) %>
  </h3>
  <div class='hotel-rating'>
    <%= hotel.rating %>
  </div>
  <br />
  at
  <span class='hotel-city'>
    <%= hotel.city %>
  </span>
  <div class="clearfix"></div>
  <div class='hotel-description write-up'>
    <p>
      <%= hotel.description %>
    </p>
  </div>
  <div class='book-hotel-ref'>
    <%= link_to 'book now', new_hotel_booking_path(hotel) %>
  </div>
<% end %>
