<div id="single-hotel">
  <section>
    <header>
      <h3><%= @hotel.title %></h3>
      <br />
      <p>at <%= @hotel.city %></p>
    </header>
    <article>
      <div id="hotel-rating" class="">
        <p>at <%= @hotel.rating %></p>
      </div>
      <div id="hotel-description">
        <p>Description <%= simple_format @hotel.description %></p>
      </div>
      <div class="clearfix"></div>
    </article>
    <% if current_user.is_a User %>
      <span class='actions'>
      <%= link_to 'edit', edit_hotel_path(@hotel) %>|
      <%= link_to 'delete', @hotel, :confirm => 'Are you sure?',
                                    :method => :delete %>
      </span>
    <% end %>
  </section>
</div>
<%= link_to 'Back', hotels_path %>
<h3>Comments</h3>
<div id="comments">
<%= render @hotel.comments %>
</div>
<%= render :file => 'comments/new' %>