<footer>
  <p>list of all options contacts help info news social advertise and</p>
  <nav>
    <ul>
      <li class='round-top-corners'><%= link_to 'Home', root_path %></li>
      <li class='round-top-corners'><%= link_to 'Hotels', hotels_path %></li>
      <li class='round-top-corners'><%= link_to 'Tours', tours_path %></li>
      <li class='round-top-corners'><%= link_to 'Help' %></li>
      <li class='round-top-corners'><%= link_to 'About us' %></li>
    </ul>
  </nav>
  <p>
    <% if Rails.env.development? %>
    you are here <%= params[:controller] %>/<%= params[:action] %>
    <% end %>
  </p>
</footer>