<header>
  <div id='header-elements'>
  <div id='site-title'><%= link_to 'Travel Agency', root_path %></div>
  <% unless current_user %>
    <div id="login-form">
      <div><%= link_to 'sign_up', sign_up_path %></div>
      <div><%= link_to 'login', login_path %></div>
    </div>
  <% else %>
    <div id='user-date'>
      you are logged in as <%= current_user.first_name %> <%= current_user.last_name %>
      <br>
      <%= link_to 'would you like to log out?', logout_path %>
    </div>
  <% end %>
  </div>
  <nav>
    <ul>
      <li class='round-top-corners'><%= link_to 'Home', root_path %></li>
      <li class='round-top-corners'><%= link_to 'Hotels', hotels_path %></li>
      <li class='round-top-corners'><%= link_to 'Tours', tours_path %></li>
      <li class='round-top-corners'><%= link_to 'About us' %></li>
    </ul>
  </nav>
</header>