<header>
  <div id='header-elements'>
  <div id='site-title'><%= link_to 'walk with me', root_path %></div>
  <div id="login-form">
    <div>search a word login field and label</div>
    <div>passord field and label or links to register log in help</div>
  </div>
  </div>

  <nav>
    <ul>
      <li class='round-top-corners'><%= link_to 'Home', root_path %></li>
      <li class='round-top-corners'><%= link_to 'Hotels', hotels_path %></li>
      <li class='round-top-corners'><%= link_to 'Tours', tours_path %></li>
      <li class='round-top-corners'><%= link_to 'Weather' %></li>
      <li class='round-top-corners'><%= link_to 'Roads and maps' %></li>
      <li class='round-top-corners'><%= link_to 'Rent a car' %></li>
      <li class='round-top-corners'><%= link_to 'Help' %></li>
      <li class='round-top-corners'><%= link_to 'About us' %></li>
    </ul>
  </nav>
</header>