<!DOCTYPE html>
<html>
<head>
  <title>A go far away Agency</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <%= render 'layouts/header' %>
    <section>
      <aside>
        side menu or search form
        <section id='search-form'>
          <header>
            <h3>Quick Search</h3>
          </header>
          <article>
            <div id="tabs">
              <ul>
                  <li><a href="#tabs-1">Search a hotel</a></li>
                  <li><a href="#tabs-2">Search a tour</a></li>
                  <li><a href="#tabs-3">Search a ticket or booking</a></li>
              </ul>
              <div id="tabs-1">
                  <p>no form for hotels<%#= render 'hotels/search' %></p>
              </div>
              <div id="tabs-2">
                  <p>no form for tours<%#= render 'tours/search' %></p>
              </div>
              <div id="tabs-3">
                  <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
              </div>
            </div>
          </article>
        </section>
      </aside>
      <div id='content'>
        <header>
          <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
          <%= content_tag :p, alert, :class => 'alert' if alert.present? %>
        </header>
        content  area<%= yield %>
      </div>
    </section>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
