<!DOCTYPE html>
<html>
<head>
  <title>A go far away Agency</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <section>
      <div id='content'>
        <header>
          <%= content_tag :p, notice, :class => 'notice' if notice.present? %>
          <%= content_tag :p, alert, :class => 'alert' if alert.present? %>
        </header>
        content  area<%= yield %>
      </div>
    </section>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
